# Langkah 1 Ambil Data

## Persiapan Lingkungan


*   Download & Install Package
*   Import Package

In [ ]:
pip install orchest
pip install jupyterlab_code_formatter
pip install pandas scikit-learn psycopg2-binary 
pip install typing 
pip install SQLAlchemy
pip install mysql-connector-python

In [ ]:
pip install PyMySQL

In [1]:
import orchest
import pandas as pd
from sklearn import datasets

import os
import urllib.parse as up
import psycopg2

import mysql.connector
import sqlalchemy as db
from sqlalchemy import create_engine
import pymysql

## Data Kolom ID dan Sepal Length

*   Database : PostgreSQL
*   Runtime Lokal

koneksi ke PostgreSQL lokal

In [ ]:
conn_postgres = psycopg2.connect("dbname=prosain200411100046 user=postgres password=passtome123 host=localhost")
cur_postgres = conn_postgres.cursor()

Query kolom ```sepal_length```

In [ ]:
query = "SELECT sepal_length FROM iris_data"
cur_postgres.execute(query)
tuples_list = cur_postgres.fetchall()
cur_postgres.close()
sepal_length_series = pd.DataFrame(tuples_list, columns=["sepal_length"])
sepal_length_series.head()

  sepal_length
0          5.1
1          4.9
2          4.7
3          4.6
4            5

## Data Kolom Sepal Width


*   Database : ElephantSQL
*   Runtime Cloud

Buat koneksi dengan ElephantSQL

In [ ]:
engine_elephantsql = create_engine("postgresql+psycopg2://vxvfdqsv:zE_56p9mPiltOOEuuu2Aj4EBEtyfuQpf@floppy.db.elephantsql.com/vxvfdqsv")
connection_elephantsql = engine_elephantsql.connect()
metadata_elephantsql = db.MetaData()
elephantsql_db = db.Table('iris_data', metadata_elephantsql, autoload=True, autoload_with=engine_elephantsql)

Buat koneksi ke tabel  ``` iris_data``` dengan (Object Relational Mapping) SQLAlchemi

In [ ]:
up.uses_netloc.append("postgres")
url = up.urlparse("postgres://vxvfdqsv:zE_56p9mPiltOOEuuu2Aj4EBEtyfuQpf@floppy.db.elephantsql.com/vxvfdqsv") # link URL database
connection_elephant_db = psycopg2.connect(database=url.path[1:], user=url.username, password=url.password, host=url.hostname, port=url.port)
cur_elephantsql_db = connection_elephant_db.cursor()

Buat _query_ ambil kolom ```iris_data.id, iris_data.sepal_width```

In [ ]:
query_id_and_sepal_width_columns = db.select([elephantsql_db.columns.id, elephantsql_db.columns.sepal_width])
id_and_sepal_width_columns = connection_elephantsql.execute(query_id_and_sepal_width_columns).fetchall()
query_id_and_sepal_width_series = pd.DataFrame(results)
df.columns = query_id_and_sepal_width_series[0].keys()
df.head(5)

OperationalError: ignored

## Data Kolom Petal Length


*   Database : MySQL
*   Runtime Lokal

Koneksi MySQL

In [ ]:
engine_mysql = create_engine("mariadb+pymysql://root:@127.0.0.1/prosain200411100046?charset=utf8mb4")
connection_mysql = engine_mysql.connect()
metadata_mysql = db.MetaData()
mysql_db = db.Table('iris_data', metadata_mysql, autoload=True, autoload_with=engine_mysql)

Koneksi database

In [ ]:
mysql_db = mysql.connector.connect(
	host = "localhost",
	user = "root",
	password = "",
	database = "prosain200411100046"
)

Query kolom ```petal_length```

In [ ]:
mycursor = mysql_db.cursor()

query_petal_length = "SELECT petal_length FROM iris_data"

petal_length_series = pd.read_sql(query_petal_length, connection_mysql)
petal_length_series.head()

   petal_length
0           1.4
1           1.4
2           1.3
3           1.5
4           1.4

*  Creating an instance of 'cursor' class
*  which is used to execute the 'SQL'
*  statements in 'Python'

## Data Kolom Petal Width & Class


*   Database : SQL Server
*   Arsitektur Lokal

In [9]:
# tcp://0.tcp.ap.ngrok.io:11822

engine_elephantsql = create_engine("mariadb+pymysql://root:@0.tcp.ap.ngrok.io:11822/prosain200411100046")
connection_elephantsql = engine_elephantsql.connect()
metadata_elephantsql = db.MetaData()
elephantsql_db = db.Table('iris_data', metadata_elephantsql, autoload=True, autoload_with=engine_elephantsql)

In [11]:
elephantsql_db

Table('iris_data', MetaData(), Column('id', INTEGER(display_width=11), table=<iris_data>, primary_key=True, nullable=False), Column('sepal_length', DECIMAL(precision=3, scale=1), table=<iris_data>, nullable=False), Column('sepal_width', DECIMAL(precision=3, scale=1), table=<iris_data>, nullable=False), Column('petal_length', DECIMAL(precision=3, scale=1), table=<iris_data>, nullable=False), Column('petal_width', DECIMAL(precision=3, scale=1), table=<iris_data>, nullable=False), Column('variety', VARCHAR(length=10), table=<iris_data>, nullable=False), schema=None)

In [15]:
query_id_and_sepal_width_columns = db.select([elephantsql_db.columns.id, elephantsql_db.columns.sepal_width])
id_and_sepal_width_columns = connection_elephantsql.execute(query_id_and_sepal_width_columns).fetchall()
query_id_and_sepal_width_series = pd.DataFrame(id_and_sepal_width_columns)
query_id_and_sepal_width_series

      id sepal_width
0      1         3.5
1      2         3.0
2      3         3.2
3      4         3.1
4      5         3.6
..   ...         ...
145  146         3.0
146  147         2.5
147  148         3.0
148  149         3.4
149  150         3.0

[150 rows x 2 columns]